*{
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: 'Roboto', sans-serif;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes scroll-icon {
    from {top: -58px;}
    to {top: -18px;}
  }
  
/* Standard syntax */
@keyframes scroll-icon {
from {top: -58px;}
to {top: -18px;}
}

body{
    background: #FFEEEE;
    background: -webkit-linear-gradient(to right, #ddefbb45, #ffeeee57);
    background: linear-gradient(to right, #ddefbb45, #ffeeee57);
}
.row{
    display: flex;
}
.nav-bar{
    display: flex;
    padding: 30px 20px;
    background: rgb(48,221,206);
    background: linear-gradient(103deg, rgba(48,221,206,1) 0%, rgba(224,255,231,1) 100%);
    box-shadow: 0px 1px 7px 0px #9e9e9e;
}
.nav-bar div{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 23px;
    color: #33a2ad;
}
.nav-bar .nav{
    margin-left: auto;
}
.nav-bar .nav .nav-item{
    display: inline-block;
}
.nav-bar .nav .nav-item a{
    text-decoration: none;
    color: #009688;
    font-size: 19px;
    margin: 0px 20px;
}
.nav-bar .nav .nav-item:hover{
    border-bottom: 5px solid #CDDC39;
    padding-bottom: 24px;
    margin-bottom: -29px;
}
.nav-bar .nav .nav-item:hover a{
    color: #CDDC39;
}
.main{
    text-align: center;
    background-image: url(screen.png);
    background-image: url(main.gif);
    background-position-x: center;
    background-position-y: 313px;
    background-size: 298px;
    background-repeat: no-repeat;
}
.main .header{
    height: 835px;
    overflow: hidden;
}
.main .header h1{
    font-size: 58px;
    margin: 50px;
    margin-top: 75px;
    color: #1d756d;
}
.main .header h4{
    color: #82bbbd;
    font-size: 22px;
    margin: 20px;
    width: 62%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
}
.main .tech{
    background: #fff;
    padding: 20px;
}
.main .tech p{
    font-weight: bolder;
    color: #a5a5a5;
}
.main .tech .row{
    padding: 48px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}
.main .tech .row .logo{
    width: 25%;
}
.main .tech .row .logo:nth-child(3) img{
    margin-top: 6px;
}
.main .tech .row .logo:nth-child(4) img{
    margin-top: 18px;
}
.main .tech .row .logo img{
    width: 90%;
    padding: 5%;
    filter: grayscale(100%);
}
.contact{
    background: #effdf9;
    color: #009688;
}
.contact .details{
    width: 37%;
    text-align: left;
    padding: 86px;
    font-size: 20px;
}
.process{
    background: #f7f7f7;
}
.process .header{
    text-align: center;
}
.process .header h2{
    color: #009688;
    font-size: 31px;
    margin-top: 30px;
}
.process .header h4{
    color: gray;
    padding-top: 40px;
}
.process .content{
    padding: 80px 60px;
}
.process .content .list{
    text-align: center;
}
.process .content .list .tabs{
    display: inline-block;
    font-size: 19px;
    padding: 20px 90px;
    border-top: 5px solid transparent;
    background: #efeeee;
    border-radius: 5px;
    margin-bottom: 4px;
}
.process .content .list .tabs a{
    color: grey;
}
.process .content .list .tabs.selected{
    background: #fff;
    border-top: 5px solid #009688;
    margin-bottom: 0px;
    padding-bottom: 24px;
    border-radius: 5px 5px 0px 0px;
}
.process .content .list .tabs.selected a{
    color: #009688;
}
.process .content .list .tabs a{
    text-decoration: none;
}
.process .content .tab-content{
    padding: 70px 115px;
    background: #fff;
    border-radius: 10px;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}
.process .content .tab-content .picture{
    width: 40%;
    text-align: left;
}
.process .content .tab-content .picture img{
    width: 80%;
    margin-top: 150px;
}
.process .content .tab-content .picture a{
    color: #7ba6fb;
    font-size: 10px;
    display: block;
}
.process .content .tab-content .row:nth-child(2){
    display: block;
}
.process .content .tab-content .row:nth-child(2) .text{
    width: 90%;
    padding: 0% 5%;
}
.process .content .tab-content .text{
    width: 60%;
    text-align: left;
}
.process .content .tab-content .text h1{
    font-size: 29px;
    color: #009688;
    margin-bottom: 20px;
}
.process .content .tab-content .text h3{
    color: #d6d67a;
    font-weight: 100;
}
.process .content .tab-content .text p{
    line-height: 28px;
    text-indent: 35px;
    margin: 35px 0px;
    color: gray;
}
.gallery{
    background: #f7f7f7;
    padding: 90px 0px;
    text-align: center;
}
.gallery .header h2{
    color: #009688;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.gallery .header h4{
    color: gray;
    padding-top: 40px;
}
.gallery .content{
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.gallery .gallery-picture{
    text-align: center;
    width: 200px;
    filter: opacity(0.6);
}
.gallery .gallery-picture.selected{
    width: 250px;
    filter: opacity(1);
}
.gallery .gallery-picture.selected img{
    margin-bottom: -40px;
}
.gallery .gallery-picture img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.gallery .prev,.gallery .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #9de484;
  font-weight: bold;
  font-size: 33px;
  transition: 0.6s ease;
  user-select: none;
}
.gallery .prev {
    left: 0;
} 
.gallery .next {
    right: 0;
} 
.gallery .prev:hover,.gallery  .next:hover {
    background-color: #f1f1f1;
    color: black;
}
.gallery .text {
    position: absolute;
    bottom: 8px;
    width: 176px;
    color: #f2f2f2;
    background: #0000008f;
    font-size: 15px;
    padding: 8px 12px;
}
.gallery .pagination {
    cursor: pointer;
    height: 15px;
    width: 35px;
    margin: 50px 2px;
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.gallery .active, .pagination:hover {
    background-color: #9de484;
}
.work{
    background: #eaeecd;
    background-image: url(aport.gif);
    background-size: 14%;
    background-repeat: no-repeat;
    background-position-x: 68.7%;
    background-position-y: 225px;
}
.work .header{
    text-align: center;
}
.work .content{
    margin-bottom: -55px;
}
.work .work-content{
    width: 50%;
    padding: 50px 0px;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    width: 50%;
    padding-right: 10px;
}
.work .header h2{
    color: #009688;
    font-size: 31px;
    margin-top: 30px;
}
.work .header h4{
    color: gray;
    padding-top: 40px;
}
.work .content .picture{
    width: 50%;
}
.work .content .picture img{
    width: 70%;
}
.work .work-content .work-item{
    width: 520px;
    padding: 20px;
    background: #f7f7f7;
    border-left: 5px solid #CDDC39;
    box-shadow: 0px 1px 4px 0px #888888;
    border-radius: 5px;
    margin-left: auto;
    margin-bottom: 28px;
}
.work .work-content .work-item i{
    font-size: 50px;
    margin-top: 16px;
    margin-right: 20px;
    color: #8BC34A;
}
.work .work-content .work-item h3{
    color: #227d26;
    margin-bottom: 15px;
}
.work .work-content .work-item p{
    color: grey;
}
.work .scroll-icon{
    position: relative;
    top: -98px;
    left: 28%;
    font-size: 44px;
    color: #e0cd70;
    width: fit-content;
    animation: scroll-icon 1.2s infinite;
}
.about{
    background: #ffffff;
}
.about .content{
    padding: 70px 100px;
}
.about .content .description{
    width: 50%;
}
.about .content .skills{
    width: 50%;
}
.about .content .description .picture{
    text-align: center;
}
.about .content .description .picture img{
    width: 30%;
    margin-bottom: 30px;
    border-radius: 120px;
}
.about .content .description h1{
    font-size: 28px;
    border-bottom: 5px solid #009688;
    width: fit-content;
}
.about .content .description p{
    line-height: 28px;
    text-indent: 35px;
    margin: 35px 0px;
    color: gray;
}
.about .content .skills{
    text-align: center;
    padding: 40px 20px;
    margin-top: 40px;
}
.about .content .skills i{
    font-size: 50px;
    color: #009688;
}
.about .content .skills p{
    padding: 40px 20px;
    color: grey;
    line-height: 30px;
}
.contact .details h1{
    font-size: 43px;
}
.contact .details i{
    margin-right: 20px;
}
.contact .details .row{
    color: #8BC34A;
}
.contact .details .row p:nth-child(2) i{
    margin-left: 10px;
}
.mapouter{
    position:relative;
    text-align:right;
    height:325px;
    width:50%;
}
.gmap_canvas {
    overflow:hidden;
    background:none !important;
    height:325px;
    width:100%;
}
footer{
    background: rgb(252, 255, 252);
    color: #524e4e;
    text-align: center;
    padding: 40px;
}